<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Меню</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Меню піцерії</h1>
    <table>
        <thead>
            <tr>
                <th>Назва піци</th>
                <th>Опис інгредієнтів</th>
                <th>Ціна
                    <a href="{{ url_for('menu', sort=reverse_sort) }}">
                        <button>Сортувати</button>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for pizza in pizzas %}
            <tr>
                <td>{{ pizza.name }}</td>
                <td>{{ pizza.description }}</td>
                <td>{{ pizza.price }} грн</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
